{% extends 'base.html' %}
{% load static %}

{% block title %} Home page {% endblock title %}
{%block main %}
<h1>This is the home page</h1>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius deleniti, ut
  incidunt placeat rem aliquid molestiae qui praesentium quidem vel natus porro,
  et dolore dolorem? Consectetur esse dolorem velit accusantium recusandae cum
  explicabo! Accusamus, iste vel iure pariatur ducimus ipsam consectetur, minus
  sed voluptatum, tempora repellat quae debitis sapiente doloremque.
</p>
<img src="{% static 'assets/bg.jpg' %}" alt="our image" />
<p>
  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Soluta beatae
  deserunt recusandae quis saepe quae ab nobis voluptates. Enim, inventore
  dolorem sequi quia harum distinctio cupiditate fugit, repellendus architecto,
  dignissimos velit illo odit tenetur. Illum nesciunt quia natus quod numquam
  neque, ducimus minima vero nostrum voluptate expedita dolores tempora deserunt
  esse et quos corporis sit a? Consectetur, minima? Saepe, ab iure voluptatum,
  repellendus rerum exercitationem sunt voluptatibus magnam repellat, odit
  dignissimos cupiditate! Quam quis doloribus exercitationem asperiores vel quod
  ullam aut eius laudantium eum quae quaerat soluta minima veritatis quibusdam
  excepturi reiciendis ducimus fugiat, quas a libero repellendus qui, repellat
  modi. Accusamus animi provident molestias vel ullam, temporibus repudiandae
  consectetur numquam eaque veniam debitis cupiditate veritatis sed voluptates
  autem quidem. Labore id molestias magni itaque est suscipit molestiae officia
  minima possimus hic! Quos placeat praesentium fugit voluptate dolorem adipisci
  expedita deleniti perspiciatis qui minima, iste quam nihil voluptates esse
  error, quia nemo accusantium assumenda dicta magnam voluptatem natus, nostrum
  sint? Praesentium consectetur sequi sunt fugit nemo facere, at earum
  perferendis nisi soluta voluptas magnam pariatur molestias incidunt?
  Praesentium enim itaque nobis totam culpa deserunt modi, autem fugit ab quasi,
  voluptas explicabo molestias eligendi? Harum accusamus, sed temporibus dolore
  ratione soluta deleniti ea aspernatur minima ullam provident itaque libero
  velit explicabo obcaecati quasi quod alias fugiat et nulla. Exercitationem
  tempore officia optio. Quis unde eius quam expedita tempora cumque deleniti
  repudiandae aliquid sequi quibusdam reprehenderit mollitia, excepturi aut
  voluptates, facere est voluptate dolorem id non cupiditate pariatur? Nihil,
  aspernatur possimus? Modi repellat nesciunt atque, magni quam ducimus quod
  suscipit cupiditate, assumenda nulla pariatur ex culpa nobis quos? Suscipit
  quo tempora dolorum recusandae doloremque cumque hic quia, quae minima
  aspernatur in, culpa ratione iure corporis excepturi accusamus officiis
  cupiditate, ad distinctio blanditiis ex eaque quibusdam similique?
  Voluptatibus in animi, veritatis reiciendis repellendus quidem aut pariatur
  magnam quibusdam sapiente non repudiandae aliquam autem molestias, provident
  culpa exercitationem numquam adipisci distinctio iure obcaecati! Omnis ipsum
  porro sed. Quaerat error nisi accusamus similique, nobis dignissimos eligendi
  alias fugiat, distinctio aspernatur esse quibusdam, libero et. Reiciendis
  quisquam, quasi dicta nulla, omnis doloremque eum architecto aliquid minus cum
  perferendis quia tempora qui, temporibus modi accusantium? Ut, odio quaerat?
  Voluptatibus iure porro reiciendis minus accusantium non ab eligendi, itaque
  blanditiis nemo nam dolorem maiores pariatur, optio mollitia, libero error
  doloremque reprehenderit omnis aspernatur eius? Ab, ipsa quas iure hic
  temporibus rem? Adipisci aliquam blanditiis delectus quasi facilis corrupti
  vitae iusto aperiam cum quo porro consequuntur, quisquam modi magnam nam!
  Omnis unde id modi quos aspernatur, porro praesentium, quam, rem quis impedit
  at! Eveniet exercitationem alias, repudiandae corrupti iure eius repellendus.
  Consequatur doloribus tempora quibusdam expedita rerum quis, laboriosam
  explicabo! Beatae laboriosam accusamus saepe facilis enim quidem, fuga
  necessitatibus, amet iure eaque earum delectus ut rerum similique tempore
  fugit minus? Veniam nulla earum, repellendus, doloremque excepturi pariatur
  quia esse maiores ea at ducimus minima tempore architecto in aliquid laborum
  alias blanditiis, debitis natus voluptatem eum iste eius provident neque. Eos
  voluptate fugit eaque quae quod sunt reiciendis dolor eligendi?
</p>
{% endblock main %}
